$black-color: #000000;
$white-color: #ffffff;
$blue-color: #304571;
$yellow-color: #EBFF00;
$pink-color: #FF70D9;

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
  color: $white-color;
  
  .header {
    background-color: $black-color;
    height: 48px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &_logo {
      height: 24px;
      cursor: pointer;
    }

    &_logo--cart {
      height: 20px;
      cursor: pointer;
    }

    &_nav {
      display: none;
      align-items: center;

      .nav_link {
        font-weight: 700;
        font-size: 18px;
        text-decoration: none;
        margin-right: 70px;
        color: $white-color;
      }
  
      .nav_link:hover {
        background: linear-gradient(98.25deg, $yellow-color 18.56%, $pink-color 76.02%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.6;
      }
    }

    .menu {
      &__burger-checkbox {
        position: absolute;
        visibility: hidden;
      }
      &__burger {
        position: relative;
        z-index: 1;
        cursor: pointer;
        display: block;
        border: none;
        background: transparent;
        width: 23px;
        height: 16px;
      }
      &__burger::before,
      &__burger::after {
        content: '';
        left: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 1.5px;
        border-radius: 10px;
        background: #ffffff;
      }
      &__burger::before {
        top: 0;
        box-shadow: 0 7px 0 #ffffff;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
      }
      &__burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
      }
      &__burger-checkbox:checked + .menu__burger::before {
        top: 3.5px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(255, 255, 255, 0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
      }
      &__burger-checkbox:checked + .menu__burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
      }
      &-list {
        top: 0;
        right: 0;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 42px 0;
        margin: 0;
        background: $black-color;
        list-style-type: none;
        transform: translateX(100%);
        transition: .3s;
        width: 200px;
    
        .list__item {
          display: block;
          padding: 8px;
          color: $white-color;
          font-size: 18px;
          text-align: center;
          text-decoration: none;
        }
        .list__item:hover {
          background: #EBFF0099;
        }
      }
    
      &__burger-checkbox:checked ~ .menu-list {
        transform: translateX(0);
      }
    }
  }

  @media (min-width: 768px) {
    .header {
      height: 80px;
      padding: 0 30px;
  
      &_logo {
        height: 24px;
      }
  
      &_nav {
        display: inline-flex;
      }

      &__menu {
        display: none;
      }
    }
  }

  @media (min-width: 1248px) {
    .header {
      padding: 0 80px;
    }
  }

  .panel {
    display: flex;
    align-items: end;
    text-align: center;
    justify-content: center;
    height: 120vw;
    min-height: 450px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
    url(./assets/images/banner/EARTH.png) center top -33vw/ 93vw no-repeat,
    url(./assets/images/banner/banner_1.jpg) center bottom / cover no-repeat;
    padding-bottom: 45px;

    &_text {

      h1 {
        font-size: 36px;
        font-weight: 800;

        span {
          color: $pink-color;
        }
      }

      h3 {
        font-size: 16px;
        font-weight: 800;
        line-height: 2.5;

        span {
          color: $yellow-color;
        }
      }
    }

    .btn {
      background-color: $yellow-color;
      width: 154px;
      height: 28px;
      border-radius: 100px;
      border: 1px solid $yellow-color;

      &_title {
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 3px;
      }
    }

    .btn:hover {
      background: #EBFF0099;
      border: 1px solid #EBFF0099;
    }

    @media (min-width: 768px) {
      .btn {
        width: 190px;
        height: 54px;
  
        &_title {
          font-size: 22px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .panel {
      align-items: center;
      text-align: start;
      justify-content: start;
      padding-bottom: 0;
      height: 54vw;
      min-height: 420px;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
      url(./assets/images/banner/EARTH.png) right -13vw center / 43vw no-repeat,
      url(./assets/images/banner/banner_2.jpg) right bottom / cover no-repeat;

      &_text {
        padding-left: 30px;
  
        h1 {
          font-size: 48px;
        }
  
        h3 {
          font-size: 22px;
        }
      }
    }
  }

  @media (min-width: 1248px) {
    .panel {
      margin-right: 0;
      height: 40vw;
      background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
      url(./assets/images/banner/EARTH.png) right center / 30% no-repeat,
      url(./assets/images/banner/banner_3.jpg) right bottom / cover no-repeat;

      &_text {
        padding-left: 80px;
        width: 50vw;
  
        h1 {
          font-size: 72px;
        }
  
        h3 {
          font-size: 32px;
        }
      }
    }
  }

  .content {
    background-image: linear-gradient(196.2deg, #0D1E48 0%, $blue-color 100%);

    &__title,
    .description__title {
      padding: 50px 20px 30px;
      font-size: 18px;
      font-weight: 800;
    }

    &__blocks {
      padding: 0 20px;
      display: grid;
      grid-template-areas:
      "block1 block1"
      "block2 block2"
      "block3 block3"
      "block4 block4";
      grid-template-columns: 1fr;
      gap: 30px;
    }

    &__description {
      padding-bottom: 50px;
    }

    .description__text {
      padding: 0 20px 20px;
      font-size: 14px;
      font-weight: 800;

      &--end.hidden {
        display: none;
      }
      &--dots {
        opacity: 0.6;
      }
      &--start,
      &--end {
        display: inline;
        opacity: 0.6;
      }
      input[type="checkbox"] {
        height: 2em;
        display: block;
        appearance: none;
      }
      .read-more:before {
        content: "Read More";
      }
      input[type="checkbox"]:checked ~ .read-more:before {
        content: "Read Less";
      }
      &--dots:has(~ input[type="checkbox"]:checked) {
        display: none;
      }
      &--end:has(~ input[type="checkbox"]:checked) {
        display: inline;
      }
    }

    .read-more {
      color: $yellow-color;
      font-size: 14px;
      font-weight: 800;
      cursor: pointer;
    }

    &__block {
      display: flex;
      align-items: end;
      height: 30vw;
      min-height: 350px;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
      transition: transform 0.5s ease;

      .block_text {
        padding: 8vw 6vw;

        h2 {
          max-width: 250px;
        }
        h2, h3 {
          font-size: 40px;
          font-weight: 800;
        }
        p {
          font-size: 16px;
          font-weight: 800;
          padding: 22px 0;
          width: 265px;

          span {
            display: none;
          }
        }

        .visible {
          display: block;
        }
        .hidden {
          display: none;
        }
      }

      &--1 {
        grid-area: block1;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%), url(./assets/images/block1/block1_1.jpg) center/cover;
        background-size: cover;
        background-position: center;
      }
      &--2 {
        grid-area: block2;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%), url(./assets/images/block2/block2_1.jpg) center/cover;
      }
      &--3 {
        grid-area: block3;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%), url(./assets/images/block3/block3_1.jpg) center/cover;
      }
      &--4 {
        grid-area: block4;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%), url(./assets/images/block4/block4_1.jpg) center/cover;
      }
      &:hover {
        transform: scale(1.005);
      }

      .btn_transparent {
        background-color: #EBFF0000;
        border: 2px solid $yellow-color;
        width: 154px;
        height: 30px;
        border-radius: 100px;
  
        &_title {
          color: $yellow-color;
          font-family: Lato;
          font-size: 16px;
          font-weight: 700;
          padding-bottom: 3px;
        }
      }
  
      .btn_transparent:hover {
        border: 2px solid #EBFF0099;
      }

      .btn_transparent_title:hover {
        color: #EBFF0099;
      }
    }
  }

  @media (min-width: 768px) {
    .content {
      &__blocks {
        padding: 0 30px;
        grid-template-areas:
        "block1 block2"
        "block3 block4";
        grid-template-columns: 1fr 1fr;

        .block_text {
          padding: 3vw;
  
          h2 {
            max-width: 250px;
          }

          p {
            width: auto;
          }
        }

        .btn_transparent {
          width: 154px;
          height: 30px;
          border-radius: 100px;
    
          &_title {
            font-size: 16px;
          }
        }
    
        .btn_transparent:hover {
          border: 2px solid #EBFF0099;
        }
  
        .btn_transparent_title:hover {
          color: #EBFF0099;
        }
      }

      &__title,
      .description__title {
        padding: 50px 30px 30px;
        font-size: 32px;
        font-weight: 800;
      }

      .description__text {
        padding: 0 30px 10px;
        font-size: 16px;
      }

      .read-more {
        font-size: 20px;
      }
    }
  }

  @media (min-width: 1248px) {
    .content {
      &__title,
      .description__title {
        padding: 50px 80px 20px;
        font-size: 32px;
      }

      &__blocks {
        padding: 0 80px;
        grid-template-areas:
        "block1 block1"
        "block2 block3"
        "block4 block4";
        gap: 40px;

        .block_text {

          h2 {
            font-size: 74px;
            max-width: 600px;
          }
          h3 {
            font-size: 46px;
          }
          p {
            font-size: 24px;

            span {
              display: inline;
            }
          }

          .visible {
            display: none;
          }
          .hidden {
            display: block;
          }
        }

        .btn_transparent {
          width: 186px;
          height: 50px;
    
          &_title {
            font-size: 22px;
          }
        }
      }

      &__description {
        padding-bottom: 40px;
      }

      .description__text {
        padding: 0 80px 10px;
        font-size: 20px;
      }

      .read-more {
        font-size: 20px;
      }
      &__block {
        align-items: center;

        &--1 {
          background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%), url(./assets/images/block1/block1_3.jpg) center/cover;
        }
        &--2 {
          background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%), url(./assets/images/block2/block2_3.jpg) center/cover;
        }
        &--3 {
          background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%), url(./assets/images/block3/block3_3.jpg) center/cover;
        }
        &--4 {
          background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%), url(./assets/images/block4/block4_3.jpg) center/cover;
        }
      }
    }
  }

  .footer {
    background-color: $black-color;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_logo {
      width: 100px;
    }

    p {
      color: $yellow-color;
      font-size: 18px;
      font-weight: 800;
    }
  }
}
